<h1>New kitten</h1>

<%= form_for(@kitten) do |f| %>

  <%= f.label :name %><br>
  <%= f.text_field :name %><br><br>

  <%= f.label :age %><br>
  <%= f.text_field :age %><br><br>


  <%= f.submit "Create new catten", class: "btn btn-primary" %>
<% end %>
