<h1>Kitten: <%= @kitten.name %> </h1>
<%= image_tag @kitten.image.url(:medium) %>
<br>

<h2>Age: <%= @kitten.age %> </h2>

<%= link_to "All kittens", root_path %> |
<%= link_to "Edit", edit_kitten_path(@kitten) %> |
<%= link_to "Delete", @kitten, method: :delete, data: { confirm: "You sure?" } %>
